@keyframes blink {
  0%, 80% {
    opacity: 1;
  }
  81%, 83% {
    opacity: 0.5;
  }
  84%, 100% {
    opacity: 0;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  box-shadow: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

:root {
  font-size: 18px;
  font-family: "PT Mono", monospace;
  color: #2a2426;
  line-height: 1.3;
}
@media (0 <= width < 1000px) {
  :root {
    font-size: 17px;
  }
}
@media (0 <= width < 900px) {
  :root {
    font-size: 16px;
  }
}
@media (0 <= width < 600px) {
  :root {
    font-size: 15px;
  }
}
@media (0 <= width < 500px) {
  :root {
    font-size: 14px;
  }
}

body {
  background: #edece4;
  border: 0.5555555556rem solid #cbc6b9;
}
@media (0 <= width < 600px) {
  body {
    border: none;
  }
}

img {
  display: block;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: 12fr;
  gap: 1.1111111111rem;
  align-items: start;
  max-width: 1200px;
  padding: 0.5555555556rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.1111111111rem;
}
@media (0 <= width < 500px) {
  .container {
    padding: 0;
    margin-top: 3.5555555556rem;
  }
}

.title {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3.5555555556rem;
}
@media (0 <= width < 900px) {
  .title {
    margin-bottom: 1.7777777778rem;
  }
}
.title::after {
  content: "";
  display: inline-block;
  background: #2a2426;
  width: 100%;
  height: 0.0555555556rem;
  position: absolute;
  top: 0.8888888889rem;
  margin-left: 1.1111111111rem;
  margin-right: 1.1111111111rem;
}
@media (0 <= width < 500px) {
  .title::after {
    display: block;
    top: 3.5ch;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.intro {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 1.1111111111rem;
  align-items: start;
  grid-auto-rows: min-content;
  padding: 0 1.1111111111rem;
  margin-top: 1.1111111111rem;
  justify-self: center;
}
@media (0 <= width < 900px) {
  .intro {
    grid-template-columns: 1fr;
  }
}
.intro span {
  display: block;
}
.intro .kitchen-pic {
  align-self: right;
  max-width: 100%;
  height: 100%;
  border: 0.5555555556rem solid #cbc6b9;
}
@media (0 <= width < 900px) {
  .intro .kitchen-pic {
    height: initial;
    max-height: 520px;
    margin-top: 0.8888888889rem;
  }
}
.intro .logo {
  margin-bottom: 2.2222222222rem;
}
.intro > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.1111111111rem;
  align-items: start;
}
.intro > section::after {
  content: "////";
  display: inline-block;
  font-size: 12.2222222222rem;
  letter-spacing: -3.3333333333rem;
  line-height: 0.87;
  width: 100%;
}
@media (0 <= width < 1000px) {
  .intro > section::after {
    margin-right: 2.2222222222rem;
  }
}
@media (0 <= width < 900px) {
  .intro > section::after {
    display: none;
  }
}
.intro div {
  position: relative;
  width: 100%;
  max-width: 17.7777777778rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-right: solid 0.1111111111rem #2a2426;
}
@media (0 <= width < 900px) {
  .intro div {
    border-right: none;
  }
}
.intro div address {
  border-top: solid 0.1111111111rem #2a2426;
  padding-top: 0.5555555556rem;
}
.intro div p {
  padding-bottom: 0.5555555556rem;
}
.intro div::after {
  content: "";
  position: absolute;
  background: #1ab912;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  border-radius: 50%;
  left: 10rem;
  top: 0.2777777778rem;
  animation: blink 1.2s steps(3, start) infinite;
}
.intro div.closed::after {
  background: #740c16;
  animation: none;
}
.intro a {
  color: #988c77;
}
.intro a:hover {
  filter: brightness(0.7);
}

.menu {
  width: 90%;
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 3.5555555556rem;
  align-items: start;
  margin-top: 3.5555555556rem;
  margin-bottom: 3.5555555556rem;
  justify-self: center;
}
.menu section {
  margin-left: 4.4444444444rem;
  grid-column: 2;
  position: relative;
}
@media (0 <= width < 500px) {
  .menu section {
    margin-left: 0;
  }
}
.menu section h2 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.3333333333rem;
  margin-bottom: 1.7777777778rem;
}
.menu section span {
  display: inline-block;
  font-family: "Aref Ruqaa", serif;
  color: #988c77;
  width: 3.8888888889rem;
  margin-right: 0.5555555556rem;
  margin-left: -4.4444444444rem;
  text-align: end;
}
@media (0 <= width < 500px) {
  .menu section span {
    margin-left: 0rem;
  }
}
.menu section img {
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: 0.5555555556rem solid #cbc6b9;
}
@media (0 <= width < 1200px) {
  .menu section img {
    height: 8.8888888889rem;
  }
}
@media (0 <= width < 1000px) {
  .menu section img {
    height: 7.7777777778rem;
    top: 3rem;
  }
}
@media (0 <= width < 900px) {
  .menu section img {
    top: 3rem;
    left: -16rem;
  }
}
@media (0 <= width < 500px) {
  .menu section img {
    display: none;
  }
}
@media (0 <= width < 900px) {
  .menu {
    margin-left: 0;
    margin-top: 7.1111111111rem;
  }
}
@media (0 <= width < 500px) {
  .menu {
    margin-left: 5%;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 1.1111111111rem;
  }
}
@media (0 <= width < 500px) {
  .menu .title::after {
    width: 70vw;
  }
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 3.5555555556rem;
  align-items: start;
  margin: 4.4444444444rem auto;
  width: 90%;
  justify-self: center;
}
.contact form {
  width: 100%;
}
.contact label {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  display: block;
}
.contact input,
.contact textarea {
  width: 100%;
  max-width: 600px;
  color: #2a2426;
  padding: 0 0.2777777778rem;
  height: 2.2222222222rem;
  border: 0.1111111111rem solid #988c77;
  background: transparent;
  margin-bottom: 1rem;
}
.contact input:hover, .contact input:focus,
.contact textarea:hover,
.contact textarea:focus {
  outline: none;
  border-color: #cbc6b9;
}
.contact textarea {
  height: 6.6666666667rem;
}
.contact address {
  display: flex;
  flex-direction: column;
  gap: 0.5555555556rem;
  color: #988c77;
  margin-top: -1.1111111111rem;
  margin-bottom: 1.1111111111rem;
  width: 100%;
  grid-column: 2;
}
.contact address li {
  display: block;
}
.contact address li::after {
  content: "////";
  display: inline-block;
}
.contact address img {
  border: 0.5555555556rem solid #cbc6b9;
  margin-top: 1rem;
  width: 100%;
}
@media (0 <= width < 1000px) {
  .contact address img {
    grid-column: 1;
  }
}
@media (0 <= width < 500px) {
  .contact address img {
    width: 100vw;
    border: none;
  }
}
@media (0 <= width < 900px) {
  .contact address {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.contact .title::after {
  width: 50%;
}
@media (0 <= width < 900px) {
  .contact .title::after {
    width: 70vw;
  }
}
.contact button {
  cursor: pointer;
  color: #988c77;
  text-transform: uppercase;
  border: 0.1111111111rem solid #988c77;
  background: transparent;
  display: block;
  width: 11.1111111111rem;
  padding-top: 0.5555555556rem;
  padding-bottom: 0.5555555556rem;
  box-shadow: 0.2777777778rem 0.2777777778rem 0 -0.1111111111rem #cbc6b9, 0.2777777778rem 0.2777777778rem 0 0 #988c77;
  transition: 0.3s;
}
.contact button:hover {
  box-shadow: 0.1666666667rem 0.1666666667rem 0 -0.1111111111rem #988c77, 0.1666666667rem 0.1666666667rem 0 0 #988c77;
}
@media (0 <= width < 900px) {
  .contact {
    margin-top: 2.2222222222rem;
    display: flex;
    flex-direction: column;
    gap: 1.1111111111rem;
  }
}

footer {
  background: #2a2426;
  box-shadow: 0 0 0 0.5555555556rem;
}

.footer {
  color: #edece4;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7777777778rem 0.8888888889rem;
}
.footer img {
  max-width: max-content;
}
@media (0 <= width < 600px) {
  .footer {
    gap: 1.1111111111rem;
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
