@use "./config" as *;

.container {
  @include grid(12fr);
  max-width: 1200px;
  padding: px(10);
  margin-left: auto;
  margin-right: auto;
  margin-top: $space-10;
  @include device(1) {
    padding: 0;
    margin-top: $space-8;
  }
}

.title {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: $space-8;
  @include device(3) {
    margin-bottom: $space-6;
  }
  &::after {
    content: "";
    display: inline-block;
    background: $color-0;
    width: 100%;
    height: px(2);
    position: absolute;
    top: px(16);
    margin-left: $space-5;
    margin-right: $space-5;
    @include device(1) {
      display: block;
      top: 3.5ch;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    // @include device(2) {
    //   width: 50%;
    // }
    // @include device(1) {
    //   width: 100%;
    // }
  }
}
