@use "./config" as *;

.container {
  @include grid(12fr);
  max-width: 1200px;
  padding: px(10);
  margin: 0 auto;
}

.title{
  text-transform: uppercase;
  position: relative;
  &::after{
    content: '';
    display: inline-block;
    background:$color-0;
    width: 70%;
    height: px(2);
    position: absolute;
    top: px(14.5);
  margin-left: $space-5;
  }
}