@use "../config" as *;

.contact {
  
  @include grid(5fr 7fr, $space-8);
  margin: $space-9 auto;
  width: 90%;
  justify-self: center;
  form {
    width: 100%;
  }
  label {
    font-size: $font-m;
    font-family: $font-1;
    display: block;
  }
  input,
  textarea {
    width: 100%;
    max-width: 600px;
    color: $color-0;
    padding: 0 px(5);
    height: px(40);
    border: px(2) solid $color-3;
    background: transparent;
    margin-bottom: 1rem;
    &:hover,
    &:focus {
      outline: none;
      border-color: $color-2;
    }
  }
  textarea {
    height: px(120);
  }

  address {
    @include flex(col, $space-3);
    color: $color-3;
    margin-top: px(-20);
    margin-bottom: px(20);
    width: 100%;
    grid-column: 2;
    li {
      @include detail;
      display: block;
    }
    img {
      @include border;
      margin-top: 1rem;
      width: 100%;
      @include device(4) {
        grid-column: 1;
      }
      @include device(1) {
        width: 100vw;
        border: none;
      }
    }
    @include device(3) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .title {
    &::after {
      width: 50%;
      @include device(3) {
        width: 70vw;
      }
    }
  }
  button {
    cursor: pointer;
    color: $color-3;
    text-transform: uppercase;
    border: px(2) solid $color-3;
    background: transparent;
    display: block;
    width: px(200);
    padding-top: px(10);
    padding-bottom: px(10);
    box-shadow: (px(5) px(5) 0 px(-2) $color-2, px(5) px(5) 0 0 $color-3);
    transition: 0.3s;
    &:hover {
      box-shadow: (px(3) px(3) 0 px(-2) $color-3, px(3) px(3) 0 0 $color-3);
    }
  }


  @include device(3) {
    margin-top: $space-7;
    @include flex(col);
  }

}
