@use "../config" as *;

.menu {
  width: 90%;
  @include grid(5fr 7fr, $space-8);
  margin-top: $space-8;
  margin-bottom: $space-8;
  justify-self: center;
  section {
    margin-left: $space-9;
    grid-column: 2;
    position: relative;
    @include device(1) {
      margin-left: 0;
    }

    h2 {
      font-family: $font-2;
      font-size: $font-l;
      margin-bottom: $space-6;
    }
    span {
      display: inline-block;
      font-family: $font-2;
      color: $color-3;
      width: px(70);
      margin-right: px(10);
      margin-left: px(-80);
      text-align: end;
      @include device(1) {
        margin-left: px(0);
      }
    }
    img {
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      right: 2rem;
      @include border;
      @include device(5) {
        height: px(160);
      }
      @include device(4) {
        height: px(140);
        top: 3rem;
      }
      @include device(3) {
        top: 3rem;
        left: -16rem;
      }
      @include device(1) {
        display: none;
      }
    }
  }
  @include device(3) {
    margin-left: 0;
    margin-top: $space-10;
  }
  @include device(1) {
    margin-left: 5%;
    justify-self: start;
    @include flex(col);
  }
  .title {
    &::after {
      @include device(1) {
        width: 70vw;
      }
    }
  }
}
